#!/usr/bin/env python
PACKAGE = "lqr_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Q matrix weights - Position (x, y, z)
gen.add("Q_pos_x", double_t, 0, "Q weight for position x", 100.0, 0.0, 100.0)
gen.add("Q_pos_y", double_t, 0, "Q weight for position y", 100.0, 0.0, 100.0)
gen.add("Q_pos_z", double_t, 0, "Q weight for position z", 80.0, 0.0, 100.0)

# Q matrix weights - Quaternion orientation (w, x, y, z)
gen.add("Q_quat_w", double_t, 0, "Q weight for quaternion w", 0.5, 0.0, 100.0)
gen.add("Q_quat_x", double_t, 0, "Q weight for quaternion x", 0.5, 0.0, 100.0)
gen.add("Q_quat_y", double_t, 0, "Q weight for quaternion y", 0.5, 0.0, 100.0)
gen.add("Q_quat_z", double_t, 0, "Q weight for quaternion z", 5.0, 0.0, 100.0)

# Q matrix weights - Velocity (vx, vy, vz)
gen.add("Q_vel_x", double_t, 0, "Q weight for velocity x", 5.0, 0.0, 100.0)
gen.add("Q_vel_y", double_t, 0, "Q weight for velocity y", 5.0, 0.0, 100.0)
gen.add("Q_vel_z", double_t, 0, "Q weight for velocity z", 3.0, 0.0, 100.0)

# R matrix weights - Angular rates (wx, wy, wz)
gen.add("R_rate_x", double_t, 0, "R weight for angular rate x", 15.0, 0.0, 100.0)
gen.add("R_rate_y", double_t, 0, "R weight for angular rate y", 15.0, 0.0, 100.0)
gen.add("R_rate_z", double_t, 0, "R weight for angular rate z", 10.0, 0.0, 100.0)

# R matrix weights - Thrust
gen.add("R_thrust", double_t, 0, "R weight for thrust", 0.4, 0.0, 10.0)

exit(gen.generate(PACKAGE, "lqr_controller", "LqrController"))
