<launch>
    <arg name="odom_topic" default="/mavros/local_position/odom" />
    <arg name="lidar_topic" default="/livox/lidar" />  <!-- 你的LiDAR话题 -->
    <arg name="lidar_frame" default="livox_link" />    <!-- 你的LiDAR frame -->
    <arg name="config_file" default="default" />
    <arg name="world_frame" default="map" />
    <arg name="is_simulation" default="true" />
    <arg name="use_rviz" default="true" />
    <arg name="use_preset_waypoints" default="false" />
    <arg name="waypoint_type" default="circle" />
    <arg name="auto_trigger_waypoints" default="false" />
    <arg name="start_from_current_position" default="true" />

    <!-- TF: world -> map, base_link -> livox_link -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_map_linker"
          args="0 0 0 0 0 0 world map 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="tf_lidar"
          args="0.07 0 0.072 0 0.3925 0 base_link livox_link 50"/>

    <!-- 点云转换到 map frame -->
    <node pkg="opendrone" name="pointcloud_to_world" type="pointcloud_to_world.py" output="screen">
        <param name="source_topic" value="$(arg lidar_topic)" />
        <param name="output_topic" value="/registered_scan" />
        <param name="source_frame" value="$(arg lidar_frame)" />
        <param name="target_frame" value="$(arg world_frame)" />
        <param name="cloud_timeout" value="2.0" />
        <param name="filter_enable" value="false" />
    </node>

    <!-- Air-FAR requires a semantic terrain map: free voxels have intensity 0,
         while scan endpoints remain obstacles on /registered_scan. -->
    <node pkg="opendrone" name="airfar_terrain_mapper" type="airfar_terrain_mapper.py" output="screen">
        <param name="input_topic" value="/registered_scan" />
        <param name="output_topic" value="/airfar/terrain_map_ext" />
        <param name="map_frame" value="$(arg world_frame)" />
        <param name="sensor_frame" value="$(arg lidar_frame)" />
        <param name="ray_step" value="0.20" />
        <param name="voxel_size" value="0.20" />
        <param name="endpoint_clearance" value="0.75" />
        <param name="min_range" value="0.20" />
        <param name="max_range" value="25.0" />
        <param name="map_radius" value="30.0" />
        <param name="observation_ttl" value="10.0" />
        <param name="max_rays" value="2500" />
    </node>

    <!-- Air-FAR Planner -->
    <include file="$(find airfar_planner)/launch/airfar.launch">
        <arg name="odom_topic" value="$(arg odom_topic)" />
        <arg name="terrain_cloud_topic" value="/airfar/terrain_map_ext" />
        <arg name="terrain_local_topic" value="/terrain_local_cloud" />
        <arg name="scan_cloud_topic" value="/registered_scan" />
        <arg name="config_file" value="$(arg config_file)" />
        <arg name="world_frame" value="$(arg world_frame)" />
        <arg name="is_simulation" value="$(arg is_simulation)" />
    </include>

     <include if="$(arg use_preset_waypoints)" file="$(find waypoint_generator)/launch/waypoint_generator.launch">
        <arg name="odom_topic" value="/mavros/local_position/odom" />
        <arg name="waypoint_type" value="$(arg waypoint_type)" />
        <arg name="auto_trigger" value="$(arg auto_trigger_waypoints)" />
        <arg name="start_from_current_position" value="$(arg start_from_current_position)" />
    </include>

    </node>

    <!-- RViz -->
    <node if="$(arg use_rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(find opendrone)/rviz/airfar_planner.rviz" required="true" />
</launch>
