<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="enable_sim" default="true"/>
  <arg name="takeoff_height" default="2.0"/>
  <arg name="enable_auto_offboard" default="$(arg enable_sim)"/>
  <arg name="enable_auto_arm" default="$(arg enable_sim)"/>
  <arg name="auto_takeoff" default="true"/>
  <arg name="use_dynamic_reconfigure" default="false"/>
  <arg name="reference_selection" default="auto"/>
  <arg name="debug" default="false"/>

  <node pkg="lqr_controller" type="lqr_controller_node" name="lqr_controller_node" output="screen" respawn="true" clear_params="true">
    <rosparam file="$(find lqr_controller)/config/default.yaml"/>
    <param name="enable_sim" value="$(arg enable_sim)"/>
    <param name="use_dynamic_reconfigure" value="$(arg use_dynamic_reconfigure)"/>
    <param name="takeoff_height" value="$(arg takeoff_height)"/>
    <param name="enable_auto_offboard" value="$(arg enable_auto_offboard)"/>
    <param name="enable_auto_arm" value="$(arg enable_auto_arm)"/>
    <param name="auto_takeoff" value="$(arg auto_takeoff)"/>
    <param name="reference_selection" value="$(arg reference_selection)"/>
    <param name="debug" value="$(arg debug)"/>

    <!-- Geofence parameters -->
    <param name="geo_fence/x" value="50.0"/>
    <param name="geo_fence/y" value="50.0"/>
    <param name="geo_fence/z" value="6.0"/>
  </node>
  
  <group if="$(arg use_dynamic_reconfigure)">
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />
  </group>
</launch>
